:root {
    --bio-sky-50 : #e0eaee;
    --bio-sky-100 : #b3c9d6;
    --bio-sky-200 : #80a6ba;
    --bio-sky-300 : #4d829e;
    --bio-sky-400 : #26678a;
    --bio-sky-500 : #004c75;
    --bio-sky-600 : #00456d;
    --bio-sky-700 : #003c62;
    --bio-sky-800 : #003358;
    --bio-sky-900 : #002445;
    --bio-sky-A100 : #a6cdea;
    --bio-sky-A200 : #64a8da;
    --bio-sky-A400 : #2183ca;
    --bio-sky-A700 : #1670ad;
    --bio-sky-contrast-50 : #000000;
    --bio-sky-contrast-100 : #000000;
    --bio-sky-contrast-200 : #000000;
    --bio-sky-contrast-300 : #ffffff;
    --bio-sky-contrast-400 : #ffffff;
    --bio-sky-contrast-500 : #ffffff;
    --bio-sky-contrast-600 : #ffffff;
    --bio-sky-contrast-700 : #ffffff;
    --bio-sky-contrast-800 : #ffffff;
    --bio-sky-contrast-900 : #ffffff;
    --bio-sky-contrast-A100 : #000000;
    --bio-sky-contrast-A200 : #000000;
    --bio-sky-contrast-A400 : #ffffff;
    --bio-sky-contrast-A700 : #ffffff;
}
